Project Exam 2/code.json
[
    {
        "id": "fe059b08.c95888",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93d2f0df.d42b7",
        "type": "udp in",
        "z": "fe059b08.c95888",
        "name": "",
        "iface": "",
        "port": "25565",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "d267a0f5.461e7",
                "ac518d9.f94517"
            ]
        ]
    },
    {
        "id": "d267a0f5.461e7",
        "type": "function",
        "z": "fe059b08.c95888",
        "name": "split on ,",
        "func": "return msg.payload.split(/,/g).slice(0,6).map(payload => ({payload}));",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "b89b09f2.a45758"
            ],
            [
                "2789929b.c293fe"
            ],
            [
                "389eab4f.e06094"
            ],
            [
                "3f7dc641.96625a"
            ],
            [
                "678a0b18.c87714"
            ],
            [
                "f440a5e7.535578"
            ]
        ]
    },
    {
        "id": "b89b09f2.a45758",
        "type": "ui_gauge",
        "z": "fe059b08.c95888",
        "name": "Pressure",
        "group": "46882dc2.6a03c4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "975",
        "max": "1075",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "2789929b.c293fe",
        "type": "ui_gauge",
        "z": "fe059b08.c95888",
        "name": "UV Index",
        "group": "46882dc2.6a03c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "UV Index",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "7",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "389eab4f.e06094",
        "type": "ui_chart",
        "z": "fe059b08.c95888",
        "name": "Air Quality",
        "group": "c75836a5.828908",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Air Quality (PPM)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 850,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3f7dc641.96625a",
        "type": "ui_gauge",
        "z": "fe059b08.c95888",
        "name": "Light",
        "group": "46882dc2.6a03c4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light",
        "label": "",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#000000",
            "#808080",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "f440a5e7.535578",
        "type": "ui_chart",
        "z": "fe059b08.c95888",
        "name": "Temperature",
        "group": "c75836a5.828908",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperature (F)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 850,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "678a0b18.c87714",
        "type": "ui_chart",
        "z": "fe059b08.c95888",
        "name": "Humidity",
        "group": "c75836a5.828908",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Relative Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 840,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ac518d9.f94517",
        "type": "delay",
        "z": "fe059b08.c95888",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "77d65ad0.fb57b4"
            ]
        ]
    },
    {
        "id": "152adaf1.b6d445",
        "type": "twitter out",
        "z": "fe059b08.c95888",
        "twitter": "",
        "name": "Tweet",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "77d65ad0.fb57b4",
        "type": "function",
        "z": "fe059b08.c95888",
        "name": "Split and format message",
        "func": "const [pressure, uv, air, light, humidity, temperature] = msg.payload.split(/,/g);\nreturn {...msg, payload: (`Pressure: ${pressure} hPa; UV Index: ${uv}; Air Quality: ${air} ppm; ` +\n    `Light: ${light}%; Humidity: ${humidity}%; Temperature: ${temperature}F`).substr(0, 280)};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 540,
        "wires": [
            [
                "152adaf1.b6d445",
                "432bc244.6bba3c",
                "ec9a3afd.150658"
            ]
        ]
    },
    {
        "id": "432bc244.6bba3c",
        "type": "http request",
        "z": "fe059b08.c95888",
        "name": "Facebook",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://graph.facebook.com/v7.0/me/feed?access_token=<make a token using graph API explorer, ensure appropriate permissions are set>&message={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 840,
        "y": 580,
        "wires": [
            [
                "d13161cb.c895"
            ]
        ]
    },
    {
        "id": "d13161cb.c895",
        "type": "debug",
        "z": "fe059b08.c95888",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 580,
        "wires": []
    },
    {
        "id": "ec9a3afd.150658",
        "type": "change",
        "z": "fe059b08.c95888",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[node-red] Sensor Data Report",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 620,
        "wires": [
            [
                "eb02c58e.af5a68"
            ]
        ]
    },
    {
        "id": "eb02c58e.af5a68",
        "type": "e-mail",
        "z": "fe059b08.c95888",
        "server": "survival.kreatious.net",
        "port": "587",
        "secure": false,
        "tls": false,
        "name": "lvp4b@umsystem.edu",
        "dname": "",
        "x": 1060,
        "y": 620,
        "wires": []
    },
    {
        "id": "46882dc2.6a03c4",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "3b394776.970048",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c75836a5.828908",
        "type": "ui_group",
        "z": "",
        "name": "Comfort",
        "tab": "3b394776.970048",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3b394776.970048",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
